# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt

# Django
*.log
*.pot
*.pyc
db.sqlite3
local_settings.py
media/
staticfiles/

# Environment variables
.env
.env.*

# IDE / OS
.vscode/
.idea/
*.DS_Store
Thumbs.db

# Distribution
dist/
build/
*.egg-info/
